<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="contenedor">
        <div class="rectangulo-verde">
            
        </div>
        <div class="rectangulo-rojo">
           
        </div>
        <div class="margen-negro">
            <div class="grupo-naranja-rosa">
                <div class="rectangulo-naranja">
                    
                </div>
                <div class="rectangulo-rosa">
                    
                </div>
            </div>
        </div>
        <div class="rectangulo-azul">
            
        </div>
    </div>
</body>
</html>